@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.user-products-page {
    background-image: url('../images/products_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    overflow: hidden; 
    cursor: none;
}

.nav-bar-user{
    cursor: none;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 0px;
}

.nav-link:hover {
    cursor: none;
  }

  .user-icon:hover {
    cursor: none;
  }


  .logo {
    position: absolute; 
    top: 2px;;
    left: 10px; 
  }
  .logo img {
    width: 350px; 
  height: auto;
  }

  .logo img:hover {
    cursor: none;
  }


  .ripple {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #E5F2AD;
    pointer-events: none;
    animation: rippleEffect 1s linear infinite;
  }
  
  @keyframes rippleEffect {
    0% {
      transform: scale(1);
      opacity: 0.2;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
  
  
