.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.user-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: 150px;
}

.user-card h3 {
  margin-top: 0;
  font-size: 1.2em;
  word-wrap: break-word;
}

.user-card p {
  margin: 5px 0;
  word-wrap: break-word;
}

.user-card button {
  padding: 5px 10px;
  cursor: pointer;
  align-self: flex-start;
}
